/* You can add global styles to this file, and also import other style files */
.card {
  margin-top: 1rem;
}
.state-alivrer {
  color:rgb(255,0,0);
}

.state-encours {
  color:blue;
}

.state-livree
{
  color:green;
}
